doctype html
html
	head 
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		link(href="https://fonts.googleapis.com/css?family=Caveat|Cedarville+Cursive|Indie+Flower|Patrick+Hand+SC|Walter+Turncoat|Montserrat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

	body
		
		header
			nav
				.nav-wrapper.red.darken-4
					a.brand-logo.center(href="/bujo/" + user.username) BuJo
					a.button-collapse(href="#" data-activates="mobile")
						i.material-icons bookmark
					ul.right.hide-on-med-and-down
						li
							a.tooltipped(href="/bujo/" + user.username, data-position="bottom" data-delay="50" data-tooltip="BUJO")
								i.material-icons book
						li
							a.tooltipped(href="#" data-position="bottom" data-delay="50" data-tooltip="HELP")
								i.material-icons help
						li
							a.tooltipped(href="#" data-position="bottom" data-delay="50" data-tooltip="SETTINGS")
								i.material-icons settings
						li
							a.tooltipped(href="/profile/" + user.username, data-position="bottom" data-delay="50" data-tooltip="PROFILE") #{user.username}
								i.material-icons.left person
						
					ul.side-nav#mobile.grey.darken-2
						.user-view
							.background.red.darken-4
							a(href="/profile/" + user.username)
								span.white-text.name #{user.username}
							a(href="/profile/" + user.username)
								span.white-text.email #{user.firstname} #{user.lastname}
						li
							a.white-text(href="/profile/" + user.username) PROFILE
								i.material-icons.white-text person
						li
							a.white-text(href="/bujo/" + user.username) BUJO
								i.material-icons.white-text book
						li
							a.white-text(href="#") SETTINGS
								i.material-icons.white-text settings
						li
							a.white-text(href="#") HELP
								i.material-icons.white-text help
						li.divider
						li
							a.white-text(href="/logout") LOG OUT
								i.material-icons.white-text exit_to_app

		main
			.container
				.row
					.col.s10.l8.offset-s1.offset-l2#list
						table.highlight
							tbody 
								each bujo in Bujos
									if bujo.type === 'task'
										tr
											td.center.col.s1
												i.material-icons check_box_outline_blank
											td.col.s8.offset-s1(onclick="strike()" id = bujo.id) #{bujo.body}
											td.col.s1.offset-s1
												a(href="/delete/" + bujo.id)
													i.material-icons.right.grey-text delete
									else if bujo.type === 'appt'
										tr
											td.center.col.s1.checkoff
												i.material-icons change_history
											td.col.s8.offset-s1(onclick="strike()" id = bujo.id) #{bujo.body}
											td.col.s1.offset-s1
												a(href="/delete/" + bujo.id)
													i.material-icons.right.grey-text delete
									else if bujo.type === 'event'
										tr
											td.center.col.s1.checkoff
												i.material-icons radio_button_unchecked
											td.col.s8.offset-s1(onclick="strike()" id = bujo.id) #{bujo.body}
											td.col.s1.offset-s1
												a(href="/delete/" + bujo.id)
													i.material-icons.right.grey-text delete
									else
										tr
											td.center.col.s1.checkoff
												i.material-icons remove
											td.col.s8.offset-s1(onclick="strike()" id = bujo.id) #{bujo.body}
											td.col.s1.offset-s1
												a(href="/delete/" + bujo.id)
													i.material-icons.right.grey-text delete

			.row
				.fixed-action-btn.toolbar
					a.btn-floating.btn-large.red.darken-4
						i.large.material-icons mode_edit
					ul
						li
							a(href="/bujo/new/task")
								i.material-icons check_box_outline_blank
						li
							a(href="/bujo/new/appt")
								i.material-icons change_history
						li
							a(href="/bujo/new/event")
								i.material-icons radio_button_unchecked
						li
							a(href="/bujo/new/note")
								i.material-icons remove

		script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(src='/js/main.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		script.
			function strike(){
				if($('#33').hasClass('strike')){
					$('#33').removeClass("strike");
				}
				else{
					$('#33').addClass("strike");
				}
			}
